<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OpenLabDb" connectionString="Server=.\SQLEXPRESS;Database=OpenLab;User ID=sa;Password=og2026ra;TrustServerCertificate=True;MultipleActiveResultSets=True;Encrypt=False;Connect Timeout=30" providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
