========== Starting test discovery ==========
[xUnit.net 00:00:00.00] xUnit.net VSTest Adapter v2.5.3.1+6b60a9e56a (64-bit .NET 8.0.26)
[xUnit.net 00:00:06.30]   Discovering: Open_lab.Tests
[xUnit.net 00:00:07.13]   Discovered:  Open_lab.Tests
========== Test discovery finished: 1540 Tests found in 17.8 sec ==========
========== Starting test run ==========
[xUnit.net 00:00:00.00] xUnit.net VSTest Adapter v2.5.3.1+6b60a9e56a (64-bit .NET 8.0.26)
[xUnit.net 00:00:01.62]   Starting:    Open_lab.Tests
[xUnit.net 00:01:50.79]   Finished:    Open_lab.Tests
========== Test run finished: 1540 Tests (1540 Passed, 0 Failed, 0 Skipped) run in 1.8 min ==========
